*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h1{
    font-size: 42px;
}
header{
    background-color: rgb(46, 46, 46);
    color: white;
    margin: 2em 4em 0 4em;
    padding:1em;
}
.contenedor1{
    margin: 0 4em 2em 4em;
    padding:1em;
    border: 1px solid gray;
    border-radius: 0 0 1em 1em ;
}